@import "base/all";

// Application specific
$bg-blue:   #0099e5;
$bg-green:  #34bf49;
$white:     #fff;
$black:     #000;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   $bg-blue;

// Links
//
// Style anchor elements.

$link-color:                $white;

// Cards

$card-bg:                           rgba(0,0,0,0);

// Navbar

$navbar-light-color:                rgba($white, .5);
$navbar-light-hover-color:          rgba($white, .7);
$navbar-light-active-color:         rgba($white, .9);
$navbar-light-disabled-color:       rgba($white, .3);
$navbar-light-toggler-border-color: rgba($white, .1);

// Modals

$modal-header-border-color:         rgba($black, .125);

$modal-content-bg:                  rgba($bg-blue, 1);
$modal-content-border-color:        rgba($white, .2);
$modal-header-border-width:         0px;
$modal-footer-border-width:         1px;


  /**
   * Application specific classes
   */
.fade-color {
  min-height: 100vh;
  height: 100%;
  background: $bg-blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, $bg-blue, $bg-green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, $bg-blue, $bg-green); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, $bg-blue, $bg-green); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, $bg-blue, $bg-green); /* Standard syntax */
}


.card-custom {
  background-color: rgba(255,255,255,0.1);
}

.button-custom {
  background: rgba(255, 255, 255, 0);
}

.toolbar-holder {
  position: absolute;
  bottom: 0;
  width: calc(100vw - 30px);
  height: 100px;
  line-height: 100px;
  text-align: right;

  .toolbar {

    .btn {
      border-radius: 50%;
    }
  }
}

.modal-create-new-task {
  color: $white;

  .white-close {
    color: $white;
  }
}

@import "../../node_modules/bootstrap/scss/bootstrap";