@import url(https://fonts.googleapis.com/css?family=Pacifico);
.todo-app {
  padding: 15px 5px 5px 5px;
}
.todo-input {
  padding-right: 0px;
}
.todo-input .form-control {
  background-color: transparent;
  color: #ffffff !important;
}
.todo-input .form-control::-moz-placeholder {
  color: #ffffff !important;
}
.todo-input .form-control::-webkit-input-placeholder {
  color: #ffffff !important;
}
.todo-input .input-group-addon {
  background-color: transparent;
  border: 1px solid #ffffff;
}
.todo-input input {
  background-color: transparent;
  border: 1px solid #ffffff;
}
.todo-input input:focus {
  background-color: transparent;
  border: 1px solid #ffffff;
}
.todo-button {
  padding-left: 0px;
}
.todo-button button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  opacity: 1;
}
.todo-button button:hover {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  opacity: 1;
}
.todo-button button:focus {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  opacity: 1;
}
.todo-button button:active {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  opacity: 1;
}
.todo-button button:visited {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  opacity: 1;
}
.form-control {
  border-radius: 0rem !important;
}
.input-group-addon {
  border-radius: 0rem !important;
}
.page-header {
  margin: 40px 0px 20px;
  padding: 5px;
  padding-bottom: 9px;
}
.page-header h1 {
  font-family: 'Pacifico', cursive;
  color: #ffffff;
}
.page-header h1 small {
  font-family: Helvetica;
  font-size: 1rem;
}
.page-header h1 small a {
  color: #ffffff;
}
.checked {
  text-decoration: line-through;
}
.fade-color {
  min-height: 100vh;
  height: 100%;
  background: #0099e5;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #0099e5, #34bf49);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #0099e5, #34bf49);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #0099e5, #34bf49);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #0099e5, #34bf49);
  /* Standard syntax */
}
