.todo-app {
    padding: 15px 5px 5px 5px;
}

.todo-input-holder {
    margin-top: 20px;
}

.todo-input {
    padding-right: 0px;

    .checkbox-inline {
        padding-bottom: 20px
    }

    .form-control{
        background-color: transparent;
        color: #ffffff !important;
    }

    .form-control::-moz-placeholder {
        color: #ffffff !important;
    }

    .form-control::-webkit-input-placeholder {
        color: #ffffff !important;
    }

    .input-group-addon {
        background-color: transparent;
        border: 1px solid #ffffff;
    }

    input {
        background-color: transparent;
        border: 1px solid #ffffff;
    }

    input:focus {
        background-color: transparent;
        border: 1px solid #ffffff;
    }
}

.todo-button {
    padding-left: 0px;
}

.form-control {
    border-radius: 0rem !important;
}

.input-group-addon {
    border-radius: 0rem !important;
}

.page-header {
    margin: 40px 0px 20px;
    padding: 5px;
    padding-bottom: 9px;

    h1 {
        font-family: 'Pacifico', cursive;
        color: #ffffff;

        small {
            font-family:Helvetica;
            font-size: 1rem;

            a {
                color: #ffffff;
            }
        }
    }
}

.checked {
    text-decoration: line-through;
}

p {
    color: #ffffff;
}
