button {
    background-color: transparent;
    border: 1px solid #ffffff !important;
    color: #ffffff;
    opacity: 1;
    border-radius: 0px !important;
}

button:hover {
    background-color: transparent;
    border: 1px solid #ffffff !important;
    color: #ffffff;
    opacity: 1;
    border-radius: 0px;
}

button:focus {
    background-color: transparent;
    border: 1px solid #ffffff !important;
    color: #ffffff;
    opacity: 1;
    border-radius: 0px;
}

button:active {
    background-color: transparent;
    border: 1px solid #ffffff !important;
    color: #ffffff;
    opacity: 1;
    border-radius: 0px;
}

button:visited {
    background-color: transparent;
    border: 1px solid #ffffff !important;
    color: #ffffff;
    opacity: 1;
    border-radius: 0px;
}
